.wrapperNavbarItem li {
    list-style-type: none;
    color: white;
    padding: 30px 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 17px;
}

.wrapperNavbar {
    background-color: rgb(149, 119, 177);
    width: 400px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    display: grid;
    align-content: space-between;
    user-select: none;
}

.wrapperNavbar h1 {
    color: white;
    text-align: center;
}

.wrapperNavbarItem div h2 {
    color: white;
    text-align: left;
    margin-top: 40px;
    cursor: pointer;
}

.wrapperNavbarItem li button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
    background-color:  rgb(149, 119, 177);
}

.wrapperNavbarItem li :hover {
    color: #f9c300;
    text-decoration: underline; 
}