/* .wrapperLisChat {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(91, 22, 94);
  padding-left: 300px;
}

.navbarName {
  margin-bottom: 20px;
}

.wrapperChat {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat1 {
  background-color: #9900ff20;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

.inputSend {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.inputSend input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 1;
}

.inputSend button {
  background-color: #4f04ff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.inputSend button:hover {
  background-color: #3e03d6;
} */
.wrapperList {
  background-color: rgb(201, 144, 201);
  height: 90vh;
}
